@font-face {
  font-family: 'Depot-LightItalic';
  src: url('Depot-LightItalic.eot');
  src: url('Depot-LightItalic.woff2') format('woff2'),
       url('Depot-LightItalic.woff') format('woff'),
       url('Depot-LightItalic.ttf') format('truetype'),
       url('Depot-LightItalic.svg#Depot-LightItalic') format('svg'),
       url('Depot-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

