@font-face {
  font-family: 'Depot-Bold';
  src: url('Depot-Bold.eot');
  src: url('Depot-Bold.woff2') format('woff2'),
       url('Depot-Bold.woff') format('woff'),
       url('Depot-Bold.ttf') format('truetype'),
       url('Depot-Bold.svg#Depot-Bold') format('svg'),
       url('Depot-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

