@font-face {
  font-family: 'Depot';
  src: url('../fonts/Depot-Bold/Depot-Bold.eot');
  src: url('../fonts/Depot-Bold/Depot-Bold.woff2') format('woff2'),
  url('../fonts/Depot-Bold/Depot-Bold.woff') format('woff'),
  url('../fonts/Depot-Bold/Depot-Bold.ttf') format('truetype'),
  url('../fonts/Depot-Bold/Depot-Bold.svg#Depot-Bold') format('svg'),
  url('../fonts/Depot-Bold/Depot-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Depot';
  src: url('../fonts/Depot-Light/Depot-Light.eot');
  src: url('../fonts/Depot-Light/Depot-Light.woff2') format('woff2'),
  url('../fonts/Depot-Light/Depot-Light.woff') format('woff'),
  url('../fonts/Depot-Light/Depot-Light.ttf') format('truetype'),
  url('../fonts/Depot-Light/Depot-Light.svg#Depot-Light') format('svg'),
  url('../fonts/Depot-Light/Depot-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Depot';
  src: url('../fonts/Depot-Medium/Depot-Medium.eot');
  src: url('../fonts/Depot-Medium/Depot-Medium.woff2') format('woff2'),
  url('../fonts/Depot-Medium/Depot-Medium.woff') format('woff'),
  url('../fonts/Depot-Medium/Depot-Medium.ttf') format('truetype'),
  url('../fonts/Depot-Medium/Depot-Medium.svg#Depot-Medium') format('svg'),
  url('../fonts/Depot-Medium/Depot-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Depot';
  src: url('../fonts/Depot-Regular/Depot-Regular.eot');
  src: url('../fonts/Depot-Regular/Depot-Regular.woff2') format('woff2'),
  url('../fonts/Depot-Regular/Depot-Regular.woff') format('woff'),
  url('../fonts/Depot-Regular/Depot-Regular.ttf') format('truetype'),
  url('../fonts/Depot-Regular/Depot-Regular.svg#Depot-Regular') format('svg'),
  url('../fonts/Depot-Regular/Depot-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
  url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
  url('../fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
  url('../fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg'),
  url('../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light/Gotham-Light.woff2') format('woff2'),
  url('../fonts/Gotham-Light/Gotham-Light.woff') format('woff'),
  url('../fonts/Gotham-Light/Gotham-Light.ttf') format('truetype'),
  url('../fonts/Gotham-Light/Gotham-Light.svg#Gotham-Light') format('svg'),
  url('../fonts/Gotham-Light/Gotham-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium/Gotham-Medium.woff2') format('woff2'),
  url('../fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'),
  url('../fonts/Gotham-Medium/Gotham-Medium.ttf') format('truetype'),
  url('../fonts/Gotham-Medium/Gotham-Medium.svg#Gotham-Medium') format('svg'),
  url('../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book/Gotham-Book.woff2') format('woff2'),
  url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'),
  url('../fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'),
  url('../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg'),
  url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}



























