.form-group {
  & + & {
	margin-top: 15px;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 14px 10px 14px 50px;
  color: #8c8c8c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: rgba(27, 46, 105, 1);
  line-height: 1.5;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #8c8c8c;
	text-transform: uppercase;
  }
  &::-moz-placeholder { /* Firefox 19+ */
	color: #8c8c8c;
	text-transform: uppercase;
  }
  &:-ms-input-placeholder { /* IE 10+ */
	color: #8c8c8c;
	text-transform: uppercase;
  }
  &:-moz-placeholder { /* Firefox 18- */
	color: #8c8c8c;
	text-transform: uppercase;
  }
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  &:focus {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: transparent;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: transparent;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: transparent;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: transparent;
	}
  }
  @include hover-focus-active {
	border-color: rgba(27, 46, 105, 0.5);
  }
}

.icon-on--left {
  position: relative;
  .form-control:focus + i {
	color: rgba(27, 46, 105, 1);
  }
  i {
	position: absolute;
	left: 15px;
	top: 16.5px;
	font-size: 20px;
  }
}