.blt-logo--wh {
  fill: #fff;
  transition: 0.15s opacity ease-in;
  will-change: opacity;
}

.blt-logo--chars {
  .blt-logo--wh:not(.revealed) {
    opacity: 0;
    transform-origin: center;
    transition: 0.2s transform;
    transform: scale(0.95);
  }
}

.blt-header {
  transition: 1.5s 2s all ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 40;
  color: #fff;
  padding: 10px 0;
  top: -100%;
  //transform: translateY(-100%);
  .loaded & {
    top: 0;
  }
  .navbar-toggler {
    position: relative;
    cursor: pointer;
    display: block;
    width: 33px;
    height: 33px;
    border: none;
    background-color: transparent;
    top: 10px;
    z-index: 100;
    padding: 0;
    .line {
      display: block;
      height: 2px;
      background: white;
      margin-bottom: 8px;
      transition: 0.2s all cubic-bezier(0.93, 0.03, 0.23, 1.01);
      &.bot {
        margin-bottom: 0;
      }
      .blt-nav--open & {
        height: 2px;
        border-radius: 10px;
        margin: 0 auto;
        background-color: #fff;
        transform-origin: 19.5px;
        &:nth-child(1) {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
        &:nth-child(2) {
          visibility: hidden;
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
    @media (min-width: 768px) {
      padding: 0;
      top: 0;
    }
  }
  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000f30+0,011559+100 */
    background: #000f30; /* Old browsers */
    background: -moz-linear-gradient(top, #000f30 0%, #011559 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000f30 0%, #011559 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000f30 0%, #011559 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000f30', endColorstr='#011559', GradientType=0); /* IE6-9 */
    transition: 0.2s all;
    z-index: 10;
    @media(min-width: 768px) {
      display: none !important;
    }
    .blt-nav--open & {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  [class*="col"], [class*=" col"] {
    z-index: 30;
  }
  @media(min-width: 768px) {
    padding: 15px 0;
  }
}

.blt-header--right {
  transition: 0.2s 0.5s all;
  opacity: 0;
  transform: translate(0, -100%);
  .loaded & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.blt-nav {
  line-height: 1;
  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    line-height: 1;
    & + li {
      margin-left: 20px;
    }
    @media(min-width: 1200px) {
      & + li {
        margin-left: 43px;
      }
    }
  }
  a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Depot', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus {
      color: rgba(#fff, 0.5);
    }
  }
}

.blt-nav--mobile {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 40;
  transition: 0.2s all;
  left: -100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  ul{
    margin-top: -20px;
  }
  .blt-nav--open & {
    left: 0;
  }
  .mobile-btn {
    padding: 25px 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 10px;
    a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 36px;
      font-weight: 700;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: 0.3s all;
      display: block;
      letter-spacing: 1px;
      &:hover {
        color: rgba(255, 255, 255, 0.5);
        transform: scale(0.97);
        -webkit-transform: scale(0.97);
      }
    }
  }
  button {
    max-width: 300px;
    width: 100%;
    font-size: 20px;
    padding: 15px 0;
    &:first-child {
      margin-bottom: 20px;
    }
  }
  @media(min-width: 768px) {
    display: none !important;
  }
}

.blt-nav--open, body:not(.loaded) {
  overflow-y: hidden;
}

body:not(.loaded) {
  overflow-y: hidden;
  overflow-x: auto;
}
