.blt-section--social {
  background-image: url("../images/contact-us.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #fff;
  &:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(#0a1e4e, #0a182f);
  }
}

.blt-social--list {
  line-height: 1;
  li {
	& + li {
	  margin-left: 20px;
	  @include media-breakpoint-up(md) {
		margin-left: 40px;
	  }
	}
  }
}

.btl-social--network {
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  font-size: 76px;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 0;
  @include hover-focus-active {
	color: rgb(106, 111, 125);
  }
}
