h1,h2,h3,h4,h5,h6 {
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    font-size: 35px;
  }
  @media (min-width: 992px) {
    font-size: 45px;
  }
}

.ff-depot {
  font-family: 'Depot', sans-serif;
}

b, strong {
  font-weight: 700;
}